Adobe After Effects Auto-Save
introvid copy.aep Logs/AE 5-1-21 02-02-30 GMT+8.txt
introvid_pos.aep Logs/AE 5-1-21 03-11-10 GMT+8.txt
introvid_pos.aep Logs/AE 5-1-21 03-33-23 GMT+8.txt
introvid_pos.aep Logs/AE 5-1-21 03-34-01 GMT+8.txt
vid/.nfc.mov.icloud
vid/.nfcvid.mov.icloud
