body {
	height: 100%;
	margin: 0;
    /* overflow: hidden; */
    background-color: #f2e9d8;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #735443;
    font-size: 40px;
    font-weight:600;
}

button {
    background-color: #d9bba9;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

#svgUp {
    display: block;
    position: absolute;
    z-index: -1;
    background-color: #f2e9d8;
}

#svgBot {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#scene2, #scene3, #scene4, #scene5 {
    display: none;
}

#scene1 {
    background-color: #f2e9d8;
    /* position: absolute; */
}

#scene1title {
    font-family: 'Rajdhani', sans-serif;
    color: #735443;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    /* padding: 10%; */
    margin: auto;
    width: 60%;
    position: absolute;
    top: 30%;
    left: 20%;
}

#start {
    position: absolute;
    top: 65%;
    left: 47%;
    border-radius: 4rem;
}

#goback {
    position: absolute;
    top: 93%;
    right: 2%;
    border-radius: 5rem;
}

/* scene2 */

#scene2title {
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    margin-top: 3%; 
}

#pos {
    width: 15%;
    position: absolute;
    top: 25%;
    left: 14%;
}

#card {
    width: 10%;
    position: absolute;
    top: 35%;
    left: 4%;
}

#nfc {
    width: 15%;
    position: absolute;
    top: 28%;
    left: 47%;
}

#phone {
    width: 11%;
    position: absolute;
    top: 33%;
    left: 35%;
}

#qrcode {
    width: 7%;
    position: absolute;
    top: 33%;
    left: 70%;
}

#qr {
    width: 15%;
    position: absolute;
    top: 28%;
    left: 78%;
}

#choice1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: #f2e9d8;
    position: absolute;
    text-align: center;
    left: 5%;
    top: 60%;
    font-size: 25px;
    display: block;
}

#choice2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: #f2e9d8;
    position: absolute;
    text-align: center;
    left: 37%;
    top: 60%;
    font-size: 25px;
    display: block;
}

#choice3 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: #f2e9d8;
    position: absolute;
    text-align: center;
    left: 70%;
    top: 60%;
    font-size: 25px;
    display: block;
}

.dots {
    height: 40px;
    width: 40px;
    /* background-color: #a68776; */
    border-radius: 50%;
    display: inline-block;
    border: 2px #a68776 solid; 
    position: absolute;
}

#dot1 {
    left: 13%;
    top: 68.5%;
}

#dot2 {
    left: 46%;
    top: 68.5%;
}

#dot3 {
    left: 80%;
    top: 68.5%;
}

.sentences {
    color: #f2e9d8;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: absolute;
    width: 23%;
}

#sentence1 {
    left: 3%;
    top: 77%;
}

#sentence2 {
    left: 36%;
    top: 77%;
}

#sentence3 {
    left: 70%;
    top: 77%;
}

.lines {
    border-width: 0;
    background-color: #a68776;
    color: #a68776;
    height: 2px;
    position: relative;
    display: block;
    margin-top: 31.5%;
    /* top: 50%; */
}

/* scene 3 */
/* posintroscene */
#scene3title {
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    margin-top: 3%; 
}

#posintro {
    width: 20%;
    margin-top: 15%;
}

.wrapper{
	width: 900px;
	margin-left: 47%;
}

/* .main_title{
	font-size: 32px;
	color: #fff;
	letter-spacing: 2px;
	background: #edc856;
	padding: 15px 25px; 
	border-radius: 3px;
	text-align: center;
	width: 700px;
	margin: 0 auto 25px;
} */

.accordion_wrap ul{
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}

.accordion_wrap .accordion_item{
	list-style: none;
	width: 180px;
	height: 320px;
	background: #a68776;
	border-right: 2px solid #735443;
	cursor: pointer;
	position: relative;
	transition: all 0.2s linear;
    border-radius: 10px;
    
}

.accordion_wrap .accordion_item:hover,
.accordion_wrap li.active .accordion_item{
	background: #735443;
	border-right: 1px solid #a68776;
}

.accordion_wrap li:first-child .accordion_item{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.accordion_wrap li:last-child .accordion_item,
.accordion_wrap li:last-child .accordion_menu{
	border-right: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* .accordion_wrap ul li .icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.accordion_wrap ul li.walk .icon{
	background-position: 0 0;
	width: 20px;
	height: 43px;
}

.accordion_wrap ul li.bicycle .icon{
	background-position: 0 -56px;
	width: 43px;
	height: 28px;
}

.accordion_wrap ul li.bike .icon{
	background-position: 0 -96px;
	width: 43px;
	height: 32px;
}

.accordion_wrap ul li.car .icon{
	background-position: 0 -141px;
	width: 43px;
	height: 24px;
}

.accordion_wrap ul li.train .icon{
	background-position: 0 -178px;
	width: 43px;
	height: 33px;
}

.accordion_wrap ul li.aeroplane .icon{
	background-position: 0 -224px;
	width: 43px;
	height: 43px;
} */

.accordion_wrap ul li.walk .accordion_item:hover .icon,
.accordion_wrap ul li.walk.active .icon{
	background-position: -57px 0;
}

.accordion_wrap ul li.bicycle .accordion_item:hover .icon,
.accordion_wrap ul li.bicycle.active .icon{
	background-position: -57px -56px;
}

.accordion_wrap ul li.bike .accordion_item:hover .icon,
.accordion_wrap ul li.bike.active .icon{
	background-position: -57px -96px;
}

.accordion_wrap ul li.car .accordion_item:hover .icon,
.accordion_wrap ul li.car.active .icon{
	background-position: -57px -141px;
}

.accordion_wrap ul li.train .accordion_item:hover .icon,
.accordion_wrap ul li.train.active .icon{
	background-position: -57px -178px;
}

.accordion_wrap ul li.aeroplane .accordion_item:hover .icon,
.accordion_wrap ul li.aeroplane.active .icon{
	background-position: -57px -224px;
}

.accordion_wrap ul li{
	display: flex;
    flex-wrap: wrap;
}

.accordion_menu{
	width: 0px;
	height: 320px;
	background: #d9bba9;
	color: #735443;
	overflow: hidden;
	transition: width 0.2s ease;
}

.accordion_wrap ul li.active .accordion_menu{
	width: 200px;
}

.accordion_menu .inner_am{
	padding: 15px;
}

.accordion_menu .title{
	font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

.accordion_menu .content{
	font-size: 15px;
	font-weight: 300;
	margin: 10px 0;
    font-family: 'Poppins', sans-serif;
}

.accordion_menu .view_more{
	padding: 5px;
	background: #735443;
	color: #d9bba9;
	width: 125px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.accordion_menu .view_more:hover{
	text-decoration: none;
}




/* scene 4 */

/* .stack1 {
    width: 800px;
    height: 600px;
    position: relative;
    margin-left: 50%;
    margin-top: 5%;
}

.card1 {
    width: 80%;
    min-height: 80%;
    background-image: url(img/creditCard.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #58595b;
    transition: transform 300ms;
}

.card1:nth-last-child(n + 4) {
    --y: calc(-50% + -30px);
    transform: translate(-50%, var(--y)) scale(0.85);
}
.card1:nth-last-child(3) {
    --y: calc(-50% + -15px);
    transform: translate(-50%, var(--y)) scale(0.9);
}
.card1:nth-last-child(2) {
    --y: calc(-50%);
    transform: translate(-50%, var(--y)) scale(0.95);
}
.card1:nth-last-child(1) {
    --y: calc(-50% + 15px);
    transform: translate(-50%, var(--y)) scale(1);
}
  
@keyframes swap {
    50% {
      transform: translate(-50%, calc(var(--y) - 250px)) scale(0.85) rotate(-5deg);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translate(-50%, calc(var(--y) - 15px)) scale(0.85);
      z-index: -1;
    }
} */

#scene4title {
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    margin-top: 3%; 
}

#nfcgif {
    position: absolute;
    width: 90%;
    left: -22%;
    top: 2%;
}

.stack2 {
    position: absolute;
    width: 800px;
    height: 400px;
    left: 5%;
}

.card2 {
    background-color: #d9bba9;
    position: absolute;
    top: calc(80% - 200px);
    left: 120%;
    transform: translate(-50%, calc(40px * var(--i))) rotate(20deg) skew(-20deg, -10deg);
    width: 250px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px #a68776;
    z-index: calc(-1 * var(--i));
    transition: 0.5s;
}

.card2:nth-last-child(6) {
    opacity: 1;
}

.card2:nth-last-child(5) {
    opacity: 0.9;
}

.card2:nth-last-child(4) {
    opacity: 0.8;
}

.card2:nth-last-child(3) {
    opacity: 0.7;
}

.card2:nth-last-child(2) {
    opacity: 0.6;
}

.card2:nth-last-child(1) {
    opacity: 0.5;
}

.content2 {
    color: #0d0d0d;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(50px);
    text-align: center;
    padding: 20px;
}

.content2:hover {
    opacity: 1;
    transform: translateY(0px);
}

.stack2:hover .card2 {
    position: absolute;
    top: calc(80% - 300px);
    left: 122%;
    z-index: 1;
    opacity: 1;
    box-shadow: 0 2px 10px #a68776;
    transform: translate(calc(-50% + calc(270px * var(--i)))) rotate(0deg);
}

#nfcgifIntro {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #a68776;
    position: absolute;
    text-align: center;
    left: 12%;
    top: 68%;
}

/* scene 5 */
#scene5title {
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    margin-top: 3%; 
}

#qrgifIntro {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #a68776;
    position: absolute;
    text-align: center;
    left: 13%;
    top: 68%;
}

#qrgif {
    position: absolute;
    width: 46%;
    left: 0%;
    top: -10%;
}

#posgifIntro {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #a68776;
    position: absolute;
    text-align: center;
    left: 14%;
    top: 68%;
}

#posgif {
    position: absolute;
    width: 70%;
    left: -13%;
    top: 10%;
}